page-transaction {
    ion-fab{
        bottom: 3em;
        right: 1.5em;

        button{
            background-color: #222222 !important;
            font-size:1.5em !important;
        }
    }
}
